<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- Iconos de bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Tienda Virtual</title>

    <!-- JQuery CDN Google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="header">

        <div class="navbar">
            <div class="navbar-min">
                <div class="content-logo">
                    <img src="../static/img/logo.svg" alt="logo" class="logo">
                </div>
                <div class="social-navbar-min">
                    <a href="#" class="social-navbar-min-link">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="social-navbar-min-link">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="social-navbar-min-link">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="social-navbar-min-link">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
            <nav class="nav">
                
                <div class="nav-menu-primary">
                    <div class="pointer-log">
                        <div class="point"></div>
                    </div>
                    <div class="nav-icon">
                        <div class="nav-icon-content">
                            <i class="bi bi-dash-lg line-1"></i>
                            <i class="bi bi-dash-lg line-2"></i>
                        </div>
                    </div>
                </div>
                <div class="nav-primary">               
                    <div class="nav-content-links">
                        <a href="index.html" class="link-menu active">
                            <span class="link-menu-text">Inicio</span>
                            <span class="link-menu-icon">
                                <i class="bi bi-house-fill"></i>
                            </span>
                        </a>
                        <a href="usuarios.html" class="link-menu">
                            <span class="link-menu-text">Usuarios</span>
                            <span class="link-menu-icon">
                                <i class="bi bi-person-fill"></i>
                            </span>
                        </a>
                        <a href="productos.html" class="link-menu">
                            <span class="link-menu-text">Productos</span>
                            <span class="link-menu-icon">
                                <i class="bi bi-bag-plus-fill"></i>
                            </span>
                        </a>
                        <a href="contacto.html" class="link-menu">
                            <span class="link-menu-text">Contacto</span>
                            <span class="link-menu-icon">
                                <i class="bi bi-telephone-fill"></i>
                            </span>
                        </a>
                        <a href="carrito.html" class="link-menu">
                            <span class="link-menu-text">Carrito</span>
                            <span class="link-menu-icon">
                                <i class="bi bi-cart-fill"></i>
                                <div id="count-cart">
<!-----------------------------------------Numero de artículos que ha agregado el usuario al carrito--------------------------------------------------->
                                    <span id="number">
                                        1
                                    </span>
                                </div>
                            </span>
                           
                        </a>
                    </div>
                    <div class="ind-slider">
                        <div class="ind-slider-cont">
                            <div class="ind-slider-circle">
    
                            </div>
                            <div class="ind-slider-line">
    
                            </div>
                        </div>
                    </div>
                </div>        
            </nav>
        </div>

    </header>
    <main class="main">
        <div class="content-slider">
            <div class="slider">
                <img src="../static/img/slider/840_560.jpg" alt="bg" class="img-slider img-slider-active">
                <img src="../static/img/slider/iPhone-14-1.jpg" alt="bg" class="img-slider">
                <img src="../static/img/slider/MINISFORUM-EliteMini-HX90-1.jpg" alt="bg" class="img-slider">
                <img src="../static/img/slider/MinisForum_MIniPCS.jpg" alt="bg" class="img-slider">
                <img src="../static/img/slider/Motorola-Moto-G100.webp" alt="bg" class="img-slider">
                <img src="../static/img/slider/pc.jpg" alt="bg" class="img-slider">
                <img src="../static/img/slider/pc2.webp" alt="bg" class="img-slider">
            </div>
        </div>

        <div class="main-index">
            <div class="main-index-title">
                <h1 class="title">
                    TITULO DE LA PAGINA
                </h1>
            </div>
            <div class="main-index-subtitle">
                <h2 class="subtitle">
                    Subtitulo de la pagina
                </h2>
            </div>
            <div class="main-index-text">
                <p class="text-index">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos recusandae ut eveniet quam ea molestiae illo
                     doloremque quidem facilis, sequi tempora. Suscipit deserunt dolorum assumenda nam qui et illum eum ratione eaque vel,
                     quibusdam iusto sit vitae quos. Magnam exercitationem laudantium minima harum 
                     quaerat consequuntur, pariatur provident tenetur vel?
                </p>
            </div>
            <div class="min-index-link">
                <a href="productos.html" class="link-index">
                    <span class="link-index-text">
                        Ver productos
                    </span>
                    <span class="link-index-icon">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="main-team">
            <div class="main-team-title">
                <h1 class="title">
                    Nuestro equipo
                </h1>
            </div>
            <div class="main-team-target">

                <div class="target-team">
                    <div class="tarjet-head">
                        <img src="../static/img/team/img1.jpg" alt="team" class="img-team">
                        <h2 class="name">JANE DOE</h2>
                        <h3 class="job">DESARROLLADOR DE SOFTWARE</h3>
                    </div>
                    <div class="target-body">
                        <div class="target-phone">
                            <i class="bi bi-phone"></i>
                            <span class="phone">+1 (123) 456-7890</span>
                        </div>
                        <div class="target-email">
                            <i class="bi bi-envelope"></i>
                            <span class="email">
                                <a href="mailto:example@gmail.com">
                                    example@gmail.com
                                </a>
                            </span>
                        </div>
                        <div class="target-web">
                            <i class="bi bi-globe2"></i>
                            <span class="web">
                                <a href="#">
                                    janedoe.com.co
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="target-social">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>
                
                <div class="target-team">
                    <div class="tarjet-head">
                        <img src="../static/img/team/img2.jpg" alt="team" class="img-team">
                        <h2 class="name">JULIETA DOE</h2>
                        <h3 class="job">DESARROLLADOR DE SOFTWARE</h3>
                    </div>
                    <div class="target-body">
                        <div class="target-phone">
                            <i class="bi bi-phone"></i>
                            <span class="phone">+1 (123) 456-7890</span>
                        </div>
                        <div class="target-email">
                            <i class="bi bi-envelope"></i>
                            <span class="email">
                                <a href="mailto:exampleqgmail.com">
                                    example@gmail.com
                                </a>
                            </span>
                        </div>
                        <div class="target-web">
                            <i class="bi bi-globe2"></i>
                            <span class="web">
                                <a href="#">
                                    julietadoe.com.co
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="target-social">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>

                <div class="target-team">
                    <div class="tarjet-head">
                        <img src="../static/img/team/img3.jpg" alt="team" class="img-team">
                        <h2 class="name">JOHN DOE</h2>
                        <h3 class="job">DESARROLLADOR DE SOFTWARE</h3>
                    </div>
                    <div class="target-body">
                        <div class="target-phone">
                            <i class="bi bi-phone"></i>
                            <span class="phone">+1 (123) 456-7890</span>
                        </div>
                        <div class="target-email">
                            <i class="bi bi-envelope"></i>
                            <span class="email">
                                <a href="mailto:example@gmail.com">
                                    example@gmail.com
                                </a>
                            </span>
                        </div>
                        <div class="target-web">
                            <i class="bi bi-globe2"></i>
                            <span class="web">
                                <a href="#">
                                    johndoe.com.co
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="target-social">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>

                <div class="target-team">
                    <div class="tarjet-head">
                        <img src="../static/img/team/img4.jpg" alt="team" class="img-team">
                        <h2 class="name">CARLOS DOE</h2>
                        <h3 class="job">DESARROLLADOR DE SOFTWARE</h3>
                    </div>
                    <div class="target-body">
                        <div class="target-phone">
                            <i class="bi bi-phone"></i>
                            <span class="phone">+1 (123) 456-7890</span>
                        </div>
                        <div class="target-email">
                            <i class="bi bi-envelope"></i>
                            <span class="email">
                                <a href="mailto:example@gmail.com">
                                    example@gmail.com
                                </a>
                            </span>
                        </div>
                        <div class="target-web">
                            <i class="bi bi-globe2"></i>
                            <span class="web">
                                <a href="#">
                                    carlosdoe.com.co
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="target-social">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>

                <div class="target-team">
                    <div class="tarjet-head">
                        <img src="../static/img/team/img5.jpg" alt="team" class="img-team">
                        <h2 class="name">JUAN DOE</h2>
                        <h3 class="job">DESARROLLADOR DE SOFTWARE</h3>
                    </div>
                    <div class="target-body">
                        <div class="target-phone">
                            <i class="bi bi-phone"></i>
                            <span class="phone">+1 (123) 456-7890</span>
                        </div>
                        <div class="target-email">
                            <i class="bi bi-envelope"></i>
                            <span class="email">
                                <a href="mailto:example@gmail.com">
                                    example@gmail.com
                                </a>
                            </span>
                        </div>
                        <div class="target-web">
                            <i class="bi bi-globe2"></i>
                            <span class="web">
                                <a href="#">
                                    juandoe.com.co
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="target-social">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer class="footer">
        <p class="copyright">
            Todos los derechos reservados &copy; <span class="year-copyright"></span> | Tienda Virtual Grupo 07
        </p>
    </footer>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/card.js"></script>
</body>
</html>