$blue: #0080FF;
$black: #000;
$white: #fff;
$green: #00FF80;
$green-dark: #00af58;
$green-light: #0f0;
$red: #f00;
$yellow: #ff0;
$gray: #ccc;
$cool-gray: #999;
$warm-gray: #777;
$light-gray: #eee;
$dark-gray: #333;
$dark-blue: #00f;
$dark-green: #080;
$dark-red: #800;