$blue: #0080FF;
$black: #000;
$white: #fff;
$green: #00FF80;
$green-medium: #00c261;
$green-dark: #00af58;
$green-light: #0f0;
$red: #f00;
$yellow: #ff0;
$gray: #ccc;
$cool-gray: #999;
$warm-gray: #777;
$light-gray: #eee;
$dark-gray: #333;
$dark-blue: #00f;
$dark-green: #080;
$dark-red: #800;
$transparent-black-black: #000000cc;
$transparent-black: #00000080;
$transparent-white: #ffffff80;
$transparent-green: #00ff8080;
$transparent-red: #ff000080;
$transparent-yellow: #ffff0080;
$transparent-gray: #cccccc80;
$transparent-cool-gray: #99999980;
$transparent-warm-gray: #77777780;
$transparent-light-gray: #eeeeee80;
$transparent-dark-gray: #33333380;
$transparent-dark-blue: #0000ff80;
$transparent-dark-green: #00800080;