@import 'colors';
@import 'mixins';

.content-slider {
    @include dIB;
    @include position(fixed, 0, 0);
    z-index: -1;
    filter: brightness(0.4);
    overflow: hidden;

    .slider {
        .img-slider {
            @include position(absolute, 0, 0);
            @include img;
            transition: all 0.5s ease-in-out;
            opacity: 0;
        }

        .img-slider-active {
            opacity: 1;
        }
    }
}

.main-index {
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 120px);

    .main-index-title {
        @include colorPad($green, 1em);
    }

    .main-index-subtitle {
        @extend .main-index-title;
    }

    .main-index-text {
        @include colorPad($white, 1em);
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin-right: 200px;
        font-size: 1.3em;
        line-height: 1.5em;
    }

    .link-index {
        display: inline-block;
        text-decoration: none;
        background-color: $green;
        margin-left: 1em;
        @include colorPad($white, 1em);
        font-weight: bold;

        &:hover {
            background-color: $green-dark;
        }
    }

}

.main-team {
    background-color: #fff;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

.ind-slider-cont {
    margin-top: 1.5em;
    position: relative;

    .ind-slider-circle {
        @include dIB(10px, 10px);
        border-radius: 50%;
        background-color: $blue;
        @include position;
        transition: all 0.5s ease-in-out;

    }

    .ind-slider-circle-active {
        top: 100px;
    }

    .ind-slider-line {
        display: inline-block;
        width: 1px;
        height: 100px;
        background-color: $blue;
        @include position(absolute, 0, 5px);
    }
}

.main-team-target {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .target-team {
        @include dIB(300px, 450px);
        margin: 1em;

        .tarjet-head {
            @include dFlex(column, center, center, wrap);
            @include bgPad($green-medium, 1em);
            color: $white;

            .img-team {
                @include dIB(100px, 100px);
                border-radius: 50%;
                overflow: hidden;

                object: {
                    fit: cover;
                    position: top center;
                }
            }

            .name {
                font: {
                    size: 1.2em;
                    weight: bold;
                }

                margin-top: .5em;
            }

            .job {
                font-size: 1em;
                margin-top: .5em;
                text-align: center;
            }

        }

        .target-body {
            @include bgPad($gray, 1em);

            a {
                text-decoration: none;
                color: $black;
            }

            i {
                font-size: 2em;
                color: $green-medium;
                margin-right: .5em;
            }

            .target-phone,
            .target-web,
            .target-email {
                display: flex;
                align-items: center;
                margin-top: 1em;
            }
        }

        .target-footer {
            @include bgPad($warm-gray, 1em);

        }

        transform: scale3d(1, 1, 1);
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}

.footer {
    text-align: center;
    @include bgPad($white, 1em);
    padding-top: 3em;
}