@import 'colors';
@import 'mixins';

.content-slider {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.4);
    overflow: hidden;

    .slider {
        .img-slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in-out;
            opacity: 0;
        }

        .img-slider-active {
            opacity: 1;
        }
    }
}

.main-index {
    // 
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 120px);

    .main-index-title {
        color: $green;
        padding: 1em;
    }

    .main-index-subtitle {
        color: $green;
        padding: 1em;
    }

    .main-index-text {
        color: $white;
        padding: 1em;
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin-right: 200px;
        font-size: 1.3em;
        line-height: 1.5em;
    }

    .link-index {
        display: inline-block;
        text-decoration: none;
        background-color: $green;
        margin-left: 1em;
        padding: 1em;
        color: $white;
        font-weight: bold;

        &:hover {
            background-color: $green-dark;
        }
    }

}

.main-team {
    background-color: #fff;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

.ind-slider-cont {
    margin-top: 1.5em;
    //background-color: red;
    position: relative;

    .ind-slider-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;

    }

    .ind-slider-circle-active {
        top: 100px;
    }

    .ind-slider-line {
        display: inline-block;
        width: 1px;
        height: 100px;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 5px;
    }
}

.main-team-target {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .target-team {
        display: inline-block;
        width: 300px;
        height: 450px;
        margin: 1em;

        .tarjet-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $green-medium;
            color: $white;

            padding: 1em;


            .img-team {
                width: 100px;
                height: 100px;
                object-fit: cover;
                display: inline-block;
                border-radius: 50%;
                overflow: hidden;
                object-position: top center;
            }

            .name {
                font-size: 1.2em;
                font-weight: bold;
                margin-top: .5em;
            }

            .job {
                font-size: 1em;
                margin-top: .5em;
                text-align: center;
            }

        }

        .target-body {
            background-color: $gray;
            padding: 1em;

            a {
                text-decoration: none;
                color: $black;
            }

            i {
                font-size: 2em;
                color: $green-medium;
                margin-right: .5em;
            }

            .target-phone,
            .target-web,
            .target-email {
                display: flex;
                align-items: center;
                margin-top: 1em;
            }
        }

        .target-footer {
            background-color: $warm-gray;
            padding: 1em;

        }

        transform: scale3d(1, 1, 1);
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}





.footer {
    text-align: center;
    background-color: $white;
    padding: 1em;
    padding-top: 3em;


}